.article-list-2 {
  //margin: 0;
  //padding: 0;
  margin: 40px 0 40px 0;
  padding: 0 25px;
  list-style: none;
  width: 74%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
}

.article-item-area {
  padding: 25px 0;
  display: flex;
  justify-content: flex-start;
}

.box:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.aricle-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.img-33 {
 min-width: 335px;
  height: 195px;
  object-fit: cover;
}

.aricle-item-info a {
  text-decoration: none;
}

.title-article {
  margin: 0;
  color: #262D33;
  @include use_font($RobotoSlab, 20px);
  text-transform: none;
  line-height: 25px;
  font-weight: 700;
  margin-top: 10px;

}

.exp-txt3 {
  font-size: 14px;
  font-weight: 400;
  color: #4B5157;
}


.post-text-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px;
}


.post-total-info {
  color: #BCBFC2;
  @include use_font($LatoRegular, 12px);
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
}

