.article-grid {
  display: grid;
  grid-gap: 30px;
  padding: 0;
  margin: 30px 0;
  color: #fff;
  grid-template-columns: [start]
                          263px [line-1]
                          263px [line-2]
                          263px [line-3]
                          263px [end];
  grid-template-rows: [top]
                      170px [line-1]
                      170px [center]
                      170px [line-2]
                      170px [bootom];
}


.article-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  color: #ef1010;
  list-style: none;
}

.article-gri-01 {
  grid-column: start/line-2;
  grid-row: top/center;
}

.article-gri-02 {
  grid-column: line-2/line-3;
  grid-row: top/center;
}

.article-gri-03 {
  grid-column: line-3/end;
  grid-row: line-1/line-2;
}

.article-gri-04 {
  grid-column: start/line-1;
  grid-row: center/bootom;
}



.article-grid-item a {
  text-decoration: none;
}

.cs3  {
  @include use_font($RobotoSlab, 16px);
  color: #000;
}

.exp-txt {
  font-size: 14px;
  font-weight: 400;
  color: #4B5157;
  margin-top: 5px;
}

.date-post {
  font-size: 12px;
  font-weight: 400;
  color: #939699;
}

.csm {
  margin: 0;
  padding: 0;
}

.img-cs2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: relative;

}

.img-cs3 {
  height: 275px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.article-title-2 {
  //position: absolute;
  color: #fff;
  @include use_font($RobotoSlab, 16px);
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
}

.article-title-2 p {
  width: 200px;
  height: 75px;
  //margin: 10px 25px 30px 100px;
}
.cs3 p {
  width: 215px;
  height: 50px;
  margin: 10px 25px 30px 25px;
}

.tag-info {
  //position: absolute;
  color: #fff;
}

.category-info {
  //position: absolute;

}

.sss {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.author2 {
  display: flex;
}
.author-bio2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;

.author-name2 {
   font-size: 14px;
  color:#fff;
}

}
.avatar2 {
  @include wh_size(45px,45px,circle);
}

.top-blc {
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-start;
  //align-items: flex-start;
  height: 40%;
}

.bottom-blc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 60%;
}