.category-wrapper {
  background-color: #E5E5E5;
  padding-top: 50px;
  padding-bottom: 70px;

}

.category-title {
  margin-bottom: 60px;
  @include use_font($RobotoSlab,40px);
  line-height: 50px;
  color: #262D33;
  //text-transform: capitalize;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
}

.post-card {
  //width: 20%;
  width: 263px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 28px;
}

.post-card .card-thumb {
  height: 180px;
}

.post-card:not(:nth-child(4n+4)) {
  margin-right: 28px;
}

.title-pst {
  @include use_font($RobotoSlab,16px);
  line-height: 25px;
  color: #262D33;
  margin: 0;
  //padding: 0px 25px;
  margin-top: 15px;
}

.post-card p {
  line-height: 20px;
  color: #4B5157;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  //padding: 5px 25px 15px 25px;
}

.post-card-info {
  margin: 0;
  padding: 0px 25px;
  margin-bottom: 25px;
}

.post-card-info a {
  text-decoration: none;
}

.cat-author-name {
  line-height: 20px;
  color: #4B5157;

}

.author-bio-cat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //justify-content: space-between;
  margin-left: 10px;
}

.author-bio-cat a {
  text-decoration: none;
}

//==========================================

.author-cat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date-comm-like-cat {
  display: flex;
  margin-top: 2px;
  width: 120px;
  justify-content: space-between;
  align-items: center;
}

.comms, .likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30px;
}


.date-post-cat, .comments-count {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.category-pagination {
  width: 1140px;
  margin-top: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
