.category-color {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
}

.category-color-photoreport {
  font-size: 12px;
  letter-spacing: 0.7px;
}

.category-box {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  font-size: 12px;
}

.category-link {
  color: #00b9eb;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
    &:visited {
      color: #00b9eb;
    }
    &.javascript {
      color: #FF1493;
    }
    &.css {
      color: #3bc48d;
    }
    &.html {
      color: #e074d5;
    }
    &.web-design {
      color: #ffa34d;
    }
    &.articles {
      color: #A0522D;
    }
    &.investigation {
      color: #FF4F52;
    }
    &.photo-report {
      color: #ffa34d;
    }
    &.career {
      color: #6E99AE;
    }
}
