.category-color {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
}

//.post-text .post-categories a {
//  color: #5f9ef6;
//  font-size: 12px;
//  font-weight: 900;
//  letter-spacing: 0.7px;
//  text-transform: uppercase;
//  text-decoration: none;
//}