* {
  box-sizing: border-box;
}

body {
  counter-reset: section;
}


.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}


.more {
  //display: inline-block;
  display: flex;
  align-items: center;
  max-width: 155px;
  color: #fff;
  @include use_font($LatoRegular,14px);
  font-weight: 500;
  line-height: 20px;
  padding: 10px 30px 10px 20px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
}

.more:hover, .more:focus, .more:visited {
  color: #fff;
}