.comments-area {
  max-width: 750px;
}

.commments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#comments .comments-title, {
  @include use_font($RobotoSlab,40px);
  line-height: 50px;
  color: #262D33;
}

#comments .comment-count {
  @include use_font($LatoRegular,40px);
  line-height: 50px;
  color: #939699;
}

#comments .comments-add-button {
  @include use_font($LatoBlack,14px);
  line-height: 20px;
  text-decoration: none;
  color: #262D33;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #D9DADB;
  border-radius: 20px;
}

.loading-more {
  width: 100%;
  padding: 15px 0;
  //text-align: center;
  text-transform: lowercase;
  border: 1px solid #D9DADB;
  border-radius: 50px;
  @include use_font($LatoBlack,14px);
  line-height: 20px;
  color: #262D33;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 67px;
  margin-top: -20px;
}

#comments a {
  text-decoration: none;
  color: #262D33;
  &:hover, &:focus, &:active {
    color: #262D33;
  }
}

//============= Форма для ответа =========================

.comment-form {
  background-color: #F5F5F5;
  padding: 30px 40px 20px 30px;
  margin-top: 30px;
  border-radius: 10px;
}

.comment-label {
  @include use_font($RobotoSlab,20px);
  line-height: 25px;
  color: #262D33;
  display: block;
  margin-left: 95px;
}

.comment-textarea {
  min-height: 130px;
  width: 585px;
  resize: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.comment-textarea-wrapper {
  display: inline-block;
  position: relative;
  &::before {
    content: '';
    background-image: url("../images/vector.svg");
    background-position: center center;
    background-size: 100%;
    width: 12px;
    height: 20px;
    position: absolute;
    top: 35px;
    left: -10px;
  }
}

.comment-form .avatar {
  border-radius: 50%;
  margin-bottom: 50px;
  margin-right: 15px;
}

.form-wrapper {
  display: flex;
  align-items: flex-start;
}

.comment-submit {
  margin-left: 95px;
}
//========================================================




.comments-list {
  margin-left: 0;
  padding: 0;
  list-style: none;
}


.comment-author-avatar {
  margin-right: 15px;
}

.comment-author-avatar img {
  border-radius: 50%;
  height: 75px;
  max-width: 75px;
}



.comment {
  opacity: 1;
}

.comment a {
  text-decoration: none;
  color: #262D33;
  &:hover, &:focus, &:active {
    color: #262D33;
  }
}


.comment-author-name {
  @include use_font($RobotoSlab,16px);
  line-height: 25px;
  color: #262D33;
  font-style: normal;
  margin-right: 10px;
}

.comment-body {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #D9DADB;
  padding-top: 20px;
  padding-bottom: 29px;
}


.comment-body p {
  font-size: 18px;
  line-height: 30px;
  color: #4B5157;
  margin-top: 10px;
  margin-bottom: 15px;
}

.commentmetadata a {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.reply {
  display: flex;
  align-items: center;
}
.reply a {
  font-size: 12px;
  line-height: 15px;
  color: #262D33;
}