.more {
  display: inline-block;
  color: #fff;
  @include use_font($LatoRegular,14px);
  font-weight: 500;
  line-height: 20px;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background: #5f9ef6;
  text-decoration: none;
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center right 20px;
      &:focus, &:visited, &:hover {
        color: #fff;
      }
}


