.section-dark {
  background-color: #262D33;
  color: #ffffff;
  padding: 50px 122px;
}

.page-title {
  @include use_font($RobotoSlab,40px);
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 27px;
}

.page-text {
  @include use_font($LatoBlack,18px);
  line-height: 30px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts-form {
  max-width: 460px;
}

.contacts-form input {
  width: 100%;
  padding: 10px 15px;
  line-height: 20px;
  color: #939699;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contacts-form textarea {
  width: 100%;
  padding: 10px 15px;
  line-height: 20px;
  color: #939699;
  border-radius: 5px;
  margin-bottom: 15px;
  min-height: 120px;
  resize: none;
}

.contacts-info {
  opacity: 0.8;
}

.contact-left  {
  width: 40%;
  //border: 1px solid #ffffff;
  //border-radius: 10px;
}

.contact-right {
  width: 53%;
}

//.wpcf7-form .more {
//  display: flex;
//  align-items: center;
//  max-width: 155px;
//  color: #fff;
//  @include use_font($LatoBlack,14px);
//  line-height: 20px;
//  padding: 10px 20px 10px 20px;
//  border-radius: 20px;
//  background: #4592FF;
//  text-decoration: none;
//  border: none;
//  cursor: pointer;
//  outline: none;
//  &:hover, &:focus, &:visited {
//    color: #fff;
//  }
//}

.wpcf7-form .contacts-input {
  width: 100%;
  padding: 10px 15px;
  line-height: 20px;
  color: #939699;
  border-radius: 5px;
  margin-bottom: 10px;
}

.wpcf7-form .contacts-textarea {
  width: 100%;
  padding: 10px 15px;
  line-height: 20px;
  color: #939699;
  border-radius: 5px;
  margin-bottom: 15px;
  max-height: 120px;
  resize: none;
}