.home {
  background-color: #e5e5e5;
}

.front-page-header {
  background-color: #262D33;
  position: relative;
  padding-top: 30px;
  height: 475px;
}

//=================================================
// Левый блок
//=================================================
.hero {
  //border: 2px solid red;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.hero .left {
  flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Затемнение изображения
.hero .left::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(#40303D, 0.35);
  position: absolute;
  z-index: 1;
}

// Изображение
.hero .left .post-thumb {
  position: absolute;
  min-height: 570px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  object-fit: cover;
}

// Блок author в левой части
.hero .left .author {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 2;
  margin-bottom: 155px;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-bio .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(#fff,0.85);
}

.hero .left .author-bio .author-rank {
  font-size: 12px;
  line-height: 15px;
  color: rgba(#fff,0.4);
}


.hero .left .author .avatar {
  @include wh_size(45px,45px,circle);
}

// Блок post-text с информацией о посте
.post-text {
  position: relative;
  z-index: 2;
}


.post-text .post-categories  {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-text .post-title {
  @include use_font($RobotoSlab,40px);
  line-height: 50px;
  color: #fff;
  max-width: 600px;
  margin: 20px 0 50px 0;
}

.post-text .more {
  display: inline-block;
  color: #fff;
  @include use_font($LatoRegular,14px);
  font-weight: 500;
  line-height: 20px;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background: #5f9ef6;
  text-decoration: none;
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center right 20px;

}
//=================================================
// Правый блок
//=================================================
.hero .right {
  flex-basis: 25%;
}

.right .recommend {
  margin: 20px 0 20px 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.right .post {
  padding: 17px 25px 19px 25px;
  border-top: 1px solid #D9DADB;
  margin: 0;
  min-height: 100px //
}

.right .post:hover {
  background-color: #f5f5f5;
}

.post .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.post .post-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0 0;
  min-height: 40px; //
}


.posts-list .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.posts-list .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3BBDC4;
}

.posts-list .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

