.investigation {
  padding: 50px 0 55px;
  text-align: center;
}

.investigation-title {
  @include use_font($RobotoSlab, 40px);
  line-height: 50px;
  color: #fff;
  max-width: 946px;
  margin: 0 auto 25px;
}

.invest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invest a {
  padding-right: 20px!important;
  max-width: 161px;
}