@media screen and (max-width: 580px) {

  .footer-menu {
    flex-basis: 100%;
  }

  .image-career {
    display: none;
  }

  .oval {
    display: none;
  }

  .search-form {
    width: 80%;
  }

}

