@media screen and (max-width: 960px)
{

  .header-wrapper {
    position: relative;

  }
  .header-nav {
     //display: none;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 128px;
    margin-right: calc(30% - 45px);
    background-color: #fff;
    padding: 20px;
    z-index: 99;
    border-radius: 10px;
    width: 200px;
    box-shadow: 1px 1px 10px rgba(#262D33,0.2);
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu .menu-item:not(:last-child) {
    margin-bottom: 15px;
  }


  .header-menu a {
    color: #000;
  }


  .header-menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 40px;
    margin-left: 10px;
    padding-top: 15px;

  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }


.search-form {
  width: 50%;
}

  .hero {
    flex-direction: column;
  }

  .right .post {
    padding: 5px 25px 5px 25px;
    min-height: 50px;
  }

  .front-page-header {
    height: auto;
    padding-bottom: 40px;
  }

  .article-list {
    margin-top: 30px;
  }

  .article-item a {
    width: 65%;
  }

  .investigation-title {
    font-size: 32px;
  }

  .footer-menu {
    flex-basis: 50%;
  }

  .article-grid {
    grid-template-columns: repeat(1, minmax(263px, 1fr));
    grid-template-rows: repeat(3, 2fr);
  }


  .header-wrapper {
    height: 120px;
  }

  .search-form .search-input {
    height:40px;
  }

}