@media screen and (max-width: 960px)
{
  .header-menu {
     display: none;
  }

  .hero {
    flex-direction: column;
  }

  .front-page-header {
    height: auto;
    padding-bottom: 40px;
  }

  .article-list {
    margin-top: 30px;
  }

  //==========================================
  //Как вариант
  //.header-wrapper {
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: space-between;
  //  align-items: center;
  //}



}