@media screen and (max-width: 960px)
{
  .header-menu {
     display: none;
  }

  .hero {
    flex-direction: column;
  }

  .right .post {
    padding: 5px 25px 5px 25px;
    min-height: 50px;
  }

  .front-page-header {
    height: auto;
    padding-bottom: 40px;
  }

  .article-list {
    margin-top: 30px;
  }

  .article-item a {
    width: 65%;
  }

  .investigation-title {
    font-size: 32px;
  }

  .footer-menu {
    flex-basis: 50%;
  }

  .article-grid {
    grid-template-columns: repeat(1, minmax(263px, 1fr));
    grid-template-rows: repeat(3, 2fr);
  }

}