//===============================================
//======= Стили общие для всех виджетов =========
//===============================================

.sidebar-front-page {
  margin: 30px 0 0 30px;
  width: 23%;
}

.widget {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

//===============================================
//=========== Стили виджета - Теги ==============
//===============================================
.widget_tag_cloud {
  padding-bottom: 12px;
}

.widget_tag_cloud .widget-title {
  @include use_font($LatoBlack,14px);
  color: #262D33;
  text-transform: uppercase;
  line-height: 20px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #D9DADB;
  padding: 20px 25px;
}

.widget_tag_cloud ul li {
  display: inline-block;
  background: #fff;
}

.tagcloud {
  margin: 25px 5px 20px 25px;
}

.widget_tag_cloud a {
  display: inline-block;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 17px;
  margin-right: 7px;
  @include use_font($LatoBlack,14px);
  color: #262D33;
  text-decoration: none;
  text-transform: capitalize;
}

.widget_tag_cloud a:hover {
  background: #D9DADB;
  transition: 0.5s;
}
//===============================================
//======= Стили виджета - Полезные файлы ========
//===============================================

.widget-downloader {
  top: 0;
  left: 0;
  padding: 10px 25px 65px 25px;
  background: #3BBDC4 url('../images/file.svg') no-repeat top 22px right 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
  position: relative;
 }

.widget-downloader .widget-title {
  @include use_font($RobotoSlab,16px);
  color: #fff;
  line-height: 25px;
}

.widget-downloader .description {
  color: #C1F4F5;
  margin: 0;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 12px 0 13px 0;
  text-decoration: none;
  color: #fff;
  border-top: 1px solid rgba(#fff, 0.75);
  @include use_font($LatoBlack,14px);
  letter-spacing: 0.5px;
  line-height: 20px;
  display: flex;
  justify-content: center;
}

.widget-downloader .widget-link-icon {
    margin-right: 10px;
}

//============================================
//====== Стили виджета - Наши соцсети ========
//============================================

.widget-socialnetwork {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.widget-socialnetwork .widget-title {
  @include use_font($RobotoSlab, 20px);
  color: #262D33;
  line-height: 25px;
  text-align: center;
  padding: 10px 25px 8px 25px;
}

.social-blc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon-social {
  @include wh_size(45px,45px,circle);
  padding: 12px 10px;
}

.set-social-icons {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.sidebar-front-page .set-social-icons {
  padding-bottom: 40px;
}

.facebook {
  background: #4267B2;
  fill: #fff;
}

.twitter {
  background: #1DA1F2;
  fill: #fff;
}

.instagram {
  background: #DC3071;
  fill: #fff;
}

.youtube {
  background: #FF0000;
  fill: #fff;
}


//============================================
//=== Стили виджета - Наши соцсети (конец) ===
//============================================

.articles-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.widget-recent-posts  .widget-title {
  @include use_font($LatoBlack,14px);
  color: #262D33;
  text-transform: uppercase;
  line-height: 20px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #D9DADB;
  padding: 20px 25px;
}


.widget-recent-posts-wrapper {
  padding: 0 25px;

}

.widget-recent-posts a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4B5157;
  padding-bottom: 17px;
  position: relative;
}

.widget-recent-posts a::before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  //top: 0;
  right: 7px;
  color: #262D33;
  opacity: 0.08;
  @include use_font($LatoBlack,70px);
  font-style: italic;
  line-height: 50px;

}


.widget-recent-posts a:not(:first-child) {
  padding-top: 17px;
}



.widget-recent-posts a:first-child {
  padding-top: 7px;
}

.widget-recent-posts a:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-posts a:hover,
.widget-recent-posts a:focus,
.widget-recent-posts a:active {
  color: #4B5157;
}

.recent-post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: flex-start;
  margin-left: 10px;
}

.widget-recent-posts img {
  width: 60px;
  height: 60px;
}

.recent-post-title {
  @include use_font($LatoRegular,14px);
  line-height: 20px;
}

.recent-post-time {
  @include use_font($LatoRegular,12px);
  line-height: 20px;
  color: #939699;
}

.read-more {
  padding-top: 11px;
  padding-bottom: 14px;
  text-align: center;
  border-top: 1px solid #D9DADB;
  @include use_font($LatoBlack,14px);
  line-height: 20px;
  color: #262D33;
}