.post-header {
  padding: 60px 0 72px;
  color: #fff;
}

.post-header-wrapper {
  position: relative;
}

//=============================
//===== Блок об авторе ========
//=============================

.post-author {
  position: absolute;
  min-width: 263px;
  //height: 296px;
  border: 1px solid #D9DADB;
  border-radius: 10px;
  right: 0;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-right: 135px;
}

.post-author .author {
  @include use_font($LatoBlack,14px);
  line-height: 20px;
  color: #262D33;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #D9DADB;
}

.post-author .author-post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 25px 20px;
}

.author-post-info .author-name {
  @include use_font($RobotoSlab,20px);
  line-height: 25px;
  color: #262D33;
  margin-top: 15px;
}

.author-post-info .author-rank {
  color: #4B5157;
  margin-top: 5px;
}

.author-post-info .author-posts {
  @include use_font($LatoBlack,14px);
  line-height: 20px;
  color: #262D33;
  margin-top: 15px;
}

//=============================






.entry-title {
  @include use_font($RobotoSlab, 55px);
  line-height: 70px;
  width: 750px;
  height: 210px;
}

.entry-excerpt {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.85;
  width: 640px;
}



.nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 20px;
}

.navs-pred {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.navs-next {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navs {
  display: flex;
  margin-right: 130px;
}

.navs a {
  color: #fff;
  @include use_font($LatoBlack,14px);
  line-height: 20px;
  text-decoration: none;
}

.single-info {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  color: #BCBFC2;
}

.single-info span {
  display: flex;
  align-items: center;
}

.cons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//=============================
//===== Стилизация абзацев ====
//=============================


.entry-content {
  //max-width: 55%;
  padding-top: 60px;
}

.entry-content p:first-child {
  max-width: 55%;
}

.entry-content p {
  color: #4B5157;
  font-size: 18px;
  line-height: 30px;
  margin: 30px 0;
}

//=============================
//=== Стилизация заголовков ===
//=============================

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}


//=============================
//===== Стилизация цитат ======
//=============================

.entry-content blockquote p  {
  @include use_font($RobotoSlab, 25px);
  line-height: 30px;
  color: #262D33;
  margin-left: -20px;
  margin-top: 80px;
  position: relative;
}

.entry-content blockquote p::before {
  content: '';
  position: absolute;
  background-image: url("../images/quote.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 70px;
  height: 70px;
  top: -20px;
  left: -20px;
  z-index: -1;
}


//=============================
//===== Стилизация тегов ======
//=============================

.tags-links a {
  color: #262D33;
  text-decoration: none;
  @include use_font($LatoBlack, 14px);
  line-height: 20px;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 40px 10px 40px 0;
}

//=============================
//===== Стилизация буквицы ====
//=============================


.has-drop-cap:not(:focus):first-letter {
  @include use_font($LatoBlack, 100px);
  line-height: 75px;
  text-align: center;
  color: #4592FF;
}

//=============================
//=== Стилизация подписей =====
//===  под картинками и   =====
//===     таблицами       =====
//=============================


figure figcaption {
  color: #4B5157;
  margin: 25px 0 25px 35px;
}

//=============================
//==== Стилизация картинок ====
//=============================

figure img {
  border-radius: 10px;
}

//=============================
//==== Стилизация таблиц ======
//=============================
figure table {
  border: 2px solid #000;
  border-collapse: collapse;
}

figure table td:first-child {
  width: 70%;

}

figure table tr:first-child {
  height: 50px;
  background-color: #65e5b2;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-bottom: 2px solid #000;

}

figure table tr:not(:first-child)  {
  height: 35px;
  color: #4B5157;
  font-size: 18px;
  line-height: 30px;
}


figure table td:first-child {
  padding-left: 20px;
}

figure table td {
  border: 1px solid #000;
}

figure figcaption {
  color: #4B5157;
  margin: 20px 0 20px 35px;
}
//===========================================

.title-bookmark {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.bookmark {
  margin-top: 60px;
  margin-right: 135px;
}