.post-header {
  padding: 60px 0 72px;
  color: #fff;
}

.entry-title {
  @include use_font($RobotoSlab, 55px);
  line-height: 70px;
  width: 750px;
  height: 210px;
}

.entry-excerpt {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.85;
  width: 640px;
}

//.entry-excerpt p {
//
//}

.nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 20px;
}

.navs-pred {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.navs-next {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navs {
  display: flex;
  margin-right: 130px;
}

.navs a {
  color: #fff;
  @include use_font($LatoBlack,14px);
  line-height: 20px;
  text-decoration: none;
}

.single-info {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  color: #BCBFC2;
}

.single-info span {
  display: flex;
  align-items: center;
}

.cons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
