.post-header {
  padding: 60px 0 72px;
  color: #fff;
  position: relative;
}

.entry-title {
  @include use_font($RobotoSlab, 55px);
  line-height: 70px;
  width: 750px;
}

.entry-excerpt {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.85;
}

.entry-excerpt p {
  width: 640px;
}

.nav-subtitle {
    color: #fff;
 position: absolute;

}
//
//.site-main .post-navigation {
//  display: flex;
//  flex-direction: column;
//}
//
//.post-navigation .nav-links {
//  //display: flex;
//  justify-content: flex-end;
//}


//
//.post-navigation .nav-links {
//  display: flex;
//  justify-content: center;
//}
//
//.nav-previous {
//  flex-basis: 20%;
//}