.special {
  background-color: #262D33;
  color: #fff;
  padding: 60px 0;
}

.special-grid {
  display: flex;
  justify-content: space-between;
  max-height: 570px;
}
//===========================================
//==== Блок "Фоторепортаж" со слайдером =====
//===========================================

.photo-report {
  min-height: 570px;
  //border: 1px solid #fff;
  width: 49%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 53px;
  //object-fit: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.photo-report a {
  color: #fff;
  text-decoration: none;
}

.photo-report:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg,rgba(64,48,61,0.4),rgba(64,48,61,0.4));
  z-index: 1;
}

.photo-report-slider {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide {
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-report-content {
  z-index: 2;
}


.category-box {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 19px;
  margin-top: 18px;
  margin-bottom: 7px;
  z-index: 2;
}
//====================================
// ==== Кнопка "Смотреть фото" =======
//====================================
.photo-report-button {
  padding: 10px 20px 10px 20px;
  background-color: #4592FF;
  border-radius: 50px;
  display: flex;
  align-items: center;
  z-index: 2;

}

.button-photo-counter {
  margin-left: 8px;
  color: #C5E4FC;
}

//====================================
// ==== Блок информации об авторе ====
//====================================

.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.author-photo-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.author-name-photo-report {
  line-height: 20px;
}

.author-rank-photo-report {
  font-size: 12px;
  line-height: 15px;
  margin-top: 2px;
  opacity: 0.6;
}

//====================================
//====== Название фоторепортажа ======
//====================================

.photo-report-title {
  @include use_font($RobotoSlab,40px);
  line-height: 50px;
  text-align: center;
  z-index: 2;
}

//====================================
//====================================
//====================================

.other {
  width: 49%;
  //border: 1px solid red;
  border-radius: 10px;
  min-height: 570px;
  position: relative;

}

//===================================
//========= Разметка сетки ==========
//===================================
.other-grid {
  display: grid;
  grid-gap: 30px;
  padding: 0;
  color: #fff;
  grid-template-columns: [start]
                          263px [line-1]
                          263px[end];
  grid-template-rows: [top]
                      170px [line-1]
                      170px [line-2]
                      170px [bottom];
}

.other-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px;

}

.other-grid-item a {
  text-decoration: none;
}

//========================================
// Блок "Карьера" с постояным изображением
//========================================
.other-gri-01 {
  grid-column: start/end;
  grid-row: top/line-2;
  width: 100%;
  position: relative;
  background-color: #B4D1E0;
}

.image-career {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.oval {
  @include wh_size(260px,260px,circle);
  background-color: #D1E2EB;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 65px;
  margin-right: 30px;
  z-index: 0;
}


.career-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90%;
  margin-left: 10px;
  margin-top: 10px;
}

.career-info p {
  width: 213px;
  color: #4B5157;
  //margin-top: -10px;
}

.career-info a {
  padding-right: 20px!important;
}

.title-p {
 @include use_font($RobotoSlab, 25px);
  line-height: 30px;
  width: 243px;
  color: #262D33;
}
