.photo-report-icon {
  fill: #fff;
  margin-right: 8px;
}

.arrow-icon {
  fill: #fff;
  margin-left: 8px;
}

.comment-silver-icon {
  fill: #BCBFC2;
}

.comment-white-icon {
  fill: #fff;
  opacity: 0.4;
}