.white-icon {
  fill: #fff;
}

.silver-icon {
  fill: #BCBFC2;
}

.pagination-icon {
  fill: #BCBFC2;
}

.white-icon-2 {
  fill: #fff;
  margin-left: 15px;
}

.photo-report-icon {
  fill: #fff;
  margin-right: 8px;
}

.arrow-icon {
  fill: #fff;
  margin-left: 8px;
}

.loading-icon {
  fill: #BCBFC2;
  margin-right: 8px;
}

.comment-silver-icon {
  fill: #BCBFC2;
}

.comment-white-icon {
  fill: #fff;
  opacity: 0.4;
}

.icon-bookmark {
  fill: #787B7E;
}
