@font-face {
  font-family: "Lato Black";
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Regular";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.header {
  background-color: #262D33;
  padding: 15px 0 15px 0;
  color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px 0 15px;
}

.search-form {
  position: relative;
  width: 270px;
  height: 40px;
}

.search-form .search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
}

.search-form .search-input::placeholder {
  color: #939699;
}

.search-form .search-button {
  position: absolute;
  right: 20px;
  top: 0;
  width: 25px;
  height: 40px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.home {
  background-color: #e5e5e5;
}

.front-page-header {
  background-color: #262D33;
  position: relative;
  padding-top: 30px;
  height: 475px;
}

.hero {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.hero .left {
  flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .left::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 48, 61, 0.35);
  position: absolute;
  z-index: 1;
}

.hero .left .post-thumb {
  position: absolute;
  min-height: 570px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  object-fit: cover;
}

.hero .left .author {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 2;
  margin-bottom: 155px;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-bio .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-bio .author-rank {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .author .avatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.post-text {
  position: relative;
  z-index: 2;
}

.post-text .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-text .post-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  max-width: 600px;
  margin: 20px 0 50px 0;
}

.post-text .more {
  display: inline-block;
  color: #fff;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background: #5f9ef6;
  text-decoration: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.hero .right {
  flex-basis: 25%;
}

.right .recommend {
  margin: 20px 0 20px 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.right .post {
  padding: 17px 25px 19px 25px;
  border-top: 1px solid #D9DADB;
  margin: 0;
  min-height: 100px;
}

.right .post:hover {
  background-color: #f5f5f5;
}

.post .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.post .post-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0 0;
  min-height: 40px;
}

.posts-list .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.posts-list .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3BBDC4;
}

.posts-list .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.category-color {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
}

.article-list {
  margin: 0;
  padding: 0;
  margin-top: 180px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px 35px;
  position: relative;
}
.article-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 85px;
  width: 1px;
  display: block;
  background-color: #4B5157;
}

.article-item a {
  color: #fff;
  text-decoration: none;
  width: 155px;
}

.article-title {
  margin: 0;
  font-weight: 400;
}

.article-grid {
  display: grid;
  grid-gap: 30px;
  padding: 0;
  margin: 30px 0;
  color: #fff;
  grid-template-columns: [start] 263px [line-1] 263px [line-2] 263px [line-3] 263px [end];
  grid-template-rows: [top] 170px [line-1] 170px [center] 170px [line-2] 170px [bootom];
}

.article-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  color: #ef1010;
  list-style: none;
}

.article-gri-01 {
  grid-column: start/line-2;
  grid-row: top/center;
}

.article-gri-02 {
  grid-column: line-2/line-3;
  grid-row: top/center;
}

.article-gri-03 {
  grid-column: line-3/end;
  grid-row: line-1/line-2;
}

.article-gri-04 {
  grid-column: start/line-1;
  grid-row: center/bootom;
}

.article-grid-item a {
  text-decoration: none;
}

.cs3 {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #000;
}

.exp-txt {
  font-size: 14px;
  font-weight: 400;
  color: #4B5157;
  margin-top: 5px;
}

.date-post {
  font-size: 12px;
  font-weight: 400;
  color: #939699;
}

.csm {
  margin: 0;
  padding: 0;
}

.img-cs2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
}

.img-cs3 {
  height: 275px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.article-title-2 {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
}

.article-title-2 p {
  width: 200px;
  height: 75px;
}

.cs3 p {
  width: 215px;
  height: 50px;
  margin: 10px 25px 30px 25px;
}

.tag-info {
  color: #fff;
}

.sss {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.author2 {
  display: flex;
}

.author-bio2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}
.author-bio2 .author-name2 {
  font-size: 14px;
  color: #fff;
}

.avatar2 {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.top-blc {
  height: 40%;
}

.bottom-blc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 60%;
}
