@font-face {
  font-family: "Lato Black";
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Regular";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

.more {
  display: inline-block;
  color: #fff;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background: #5f9ef6;
  text-decoration: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.header {
  background-color: #262D33;
  padding: 15px 0 15px 0;
  color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px 0 15px;
}

.search-form {
  position: relative;
  width: 270px;
  height: 40px;
}

.search-form .search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
}

.search-form .search-input::placeholder {
  color: #939699;
}

.search-form .search-button {
  position: absolute;
  right: 20px;
  top: 0;
  width: 25px;
  height: 40px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.home {
  background-color: #e5e5e5;
}

.front-page-header {
  background-color: #262D33;
  position: relative;
  padding-top: 30px;
  height: 475px;
}

.hero {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.hero .left {
  flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .left::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 48, 61, 0.35);
  position: absolute;
  z-index: 1;
}

.hero .left .post-thumb {
  position: absolute;
  min-height: 570px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  object-fit: cover;
}

.hero .left .author {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 2;
  margin-bottom: 155px;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-bio .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-bio .author-rank {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .author .avatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.post-text {
  position: relative;
  z-index: 2;
}

.post-text .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-text .post-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  max-width: 600px;
  margin: 20px 0 50px 0;
}

.hero .right {
  flex-basis: 25%;
}

.right .recommend {
  margin: 20px 0 20px 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.right .post {
  padding: 17px 25px 19px 25px;
  border-top: 1px solid #D9DADB;
  margin: 0;
  min-height: 100px;
}

.right .post:hover {
  background-color: #f5f5f5;
}

.post .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.post .post-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0 0;
  min-height: 40px;
}

.posts-list .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.posts-list .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3BBDC4;
}

.posts-list .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.category-color {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
}

.article-list {
  margin: 0;
  padding: 0;
  margin-top: 180px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px 35px;
  position: relative;
}
.article-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 85px;
  width: 1px;
  display: block;
  background-color: #4B5157;
}

.article-item a {
  color: #fff;
  text-decoration: none;
  width: 155px;
}

.article-title {
  margin: 0;
  font-weight: 400;
}

.article-grid {
  display: grid;
  grid-gap: 30px;
  padding: 0;
  margin: 30px 0;
  color: #fff;
  grid-template-columns: [start] 263px [line-1] 263px [line-2] 263px [end];
  grid-template-rows: [top] 170px [line-1] 170px [center] 170px [line-2] 170px [bottom];
}

.article-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.article-gri-01 {
  grid-column: start/line-2;
  grid-row: top/center;
}

.article-gri-02 {
  grid-column: line-2/end;
  grid-row: top/center;
  position: relative;
}

.article-gri-02::before {
  content: "";
  position: absolute;
  background-color: rgba(64, 48, 61, 0.35);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.article-gri-04 {
  grid-column: start/line-1;
  grid-row: center/bottom;
}

.article-grid-item a {
  text-decoration: none;
}

.main-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.csm {
  margin: 0;
  padding: 0;
}

.author2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-blc-01 {
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: -10px;
  margin-right: -25px;
}

.left-blc {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}

.img-blc {
  width: 40%;
}

.img2 {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.category-info2 {
  font-size: 12px;
  color: #6E99AE;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.article-title-3 {
  color: #000;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  letter-spacing: 0.7px;
  font-weight: 700;
  line-height: 30px;
}

.exp-txt2 {
  font-size: 14px;
  font-weight: 400;
  color: #4B5157;
  margin-top: 5px;
  width: 270px;
}

.bottom-blc {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -18px;
}

.bottom-blc-top-line {
  height: 1px;
  width: 600px;
  margin-left: -25px;
  background-color: #D9DADB;
}

.avatar3 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

.author-blc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-name3 {
  font-size: 14px;
  color: #262D33;
  font-weight: 900;
}

.author-name3:after {
  content: ":";
  margin-right: 10px;
}

.author-desc {
  font-size: 14px;
  color: #4B5157;
  font-weight: 400;
  margin-right: 15px;
}

.icon-comment {
  margin-right: 5px;
}

.comments-counter {
  font-size: 12px;
  color: #939699;
  font-weight: 400;
}

.img-cs2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.img-cs3 {
  height: 275px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.article-title-2 {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
}

.article-title-2 p {
  width: 200px;
  height: 75px;
}

.cs3 p {
  width: 215px;
  height: 50px;
  margin: 10px 25px 30px 25px;
}

.tag-info {
  border-radius: 3px;
  background-color: #3DC47E;
  padding: 7px 12px;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.category-info {
  font-size: 12px;
  color: #E7D9FF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.sss {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.author-bio2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}
.author-bio2 .author-name2 {
  font-size: 14px;
  color: #fff;
}

.avatar2 {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.article-grid-item .top-blc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 130px;
  z-index: 2;
}

.bottom-blc2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 190px;
  z-index: 2;
}

.date-comm-like {
  display: flex;
  width: 120px;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.6);
}

.date-post2 {
  font-size: 12px;
  font-weight: 400;
}

.comments-counter2 {
  font-size: 12px;
  font-weight: 400;
}

.comment, .like {
  opacity: 0.6;
}

.cs3 {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #000;
}

.exp-txt {
  font-size: 14px;
  font-weight: 400;
  color: #4B5157;
  margin-top: 5px;
}

.date-post {
  font-size: 12px;
  font-weight: 400;
  color: #939699;
}

.sidebar-front-page {
  margin: 30px 0 0 30px;
}

.widget {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.widget_tag_cloud {
  padding-bottom: 12px;
}

.widget_tag_cloud .widget-title {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  color: #262D33;
  text-transform: uppercase;
  line-height: 20px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #D9DADB;
  padding: 20px 25px;
}

.widget_tag_cloud ul li {
  display: inline-block;
  background: #fff;
}

.tagcloud {
  margin: 25px 5px 20px 25px;
}

.widget_tag_cloud a {
  display: inline-block;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 17px;
  margin-right: 7px;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  color: #262D33;
  text-decoration: none;
  text-transform: capitalize;
}

.widget_tag_cloud a:hover {
  background: #D9DADB;
  transition: 0.5s;
}

.widget-downloader {
  top: 0;
  left: 0;
  padding: 10px 25px 65px 25px;
  background: #3BBDC4 url("../images/file.svg") no-repeat top 22px right 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
  position: relative;
}

.widget-downloader .widget-title {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #fff;
  line-height: 25px;
}

.widget-downloader .description {
  color: #C1F4F5;
  margin: 0;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 12px 0 13px 0;
  text-decoration: none;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  display: flex;
  justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
}

.widget-socialnetwork {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.widget-socialnetwork .widget-title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #262D33;
  line-height: 25px;
  text-align: center;
  padding: 10px 25px 8px 25px;
}

.social-blc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon-social {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 12px 10px;
}

.set-social-icons {
  width: 220px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.facebook {
  background: #4267B2;
}

.twitter {
  background: #1DA1F2;
}

.instagram {
  background: #DC3071;
}

.youtube {
  background: #FF0000;
}

.vk {
  background: #0f4eb8;
  padding: 17px 13px;
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
}

.investigation-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  max-width: 946px;
  margin: 0 auto 25px;
}
