@font-face {
  font-family: "Lato Black";
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Regular";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  counter-reset: section;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.more {
  display: flex;
  align-items: center;
  max-width: 155px;
  color: #fff;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 30px 10px 20px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
}

.more-button {
  display: flex;
  align-items: center;
  max-width: 155px;
  color: #fff;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.more:hover, .more:focus, .more:visited {
  color: #fff;
}

.header {
  background-color: #262D33;
  padding: 15px 0 15px 0;
  color: #fff;
}

.header-menu-toggle {
  display: none;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper a {
  text-decoration: none;
}

.logo {
  height: 40px;
  display: flex;
  align-items: center;
}

.logo-name-dark, .logo-name-light {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 35px;
  margin-left: 10px;
}

.logo-name-dark {
  color: #fff;
}

.logo-name-light {
  color: #4592FF;
}

.header-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px 0 15px;
}

.search-form {
  position: relative;
  width: 25%;
  height: 40px;
  color: #3c763d;
}

.search-form .search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
}

.search-form .search-input::placeholder {
  color: #939699;
}

.search-form .search-button {
  position: absolute;
  right: 20px;
  top: 0;
  width: 25px;
  height: 40px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-menu-single {
  padding: 25px 0;
}

.header-menu-single .menu-item a {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #939699;
  margin: 0 15px 0 15px;
}

.header-single .search-form input {
  background-color: #F5F5F5;
}

.footer {
  padding: 60px 0 55px;
  background-color: #fff;
}

.footer-menu {
  flex-basis: 100%;
}

.footer-menu-bar {
  display: flex;
  align-items: flex-start;
  padding-bottom: 65px;
}

.footer-menu .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}

.footer-menu a {
  display: inline-block;
  color: #4B5157;
  margin: 0 0 15px;
}

.footer-menu-title {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer-menu:nth-child(1) {
  border-top: 5px solid #FF4F52;
}

.footer-menu:nth-child(2) {
  border-top: 5px solid #AC8EE3;
}

.footer-menu:nth-child(3) {
  border-top: 5px solid #4592FF;
}

.footer-menu:nth-child(4) {
  border-top: 5px solid #FFA34D;
}

.footer-menu:nth-child(5) {
  border-top: 5px solid #3DC47E;
}

.footer-menu:nth-child(6) {
  border-top: 5px solid #6E99AE;
}

.logo-footer img {
  height: 50px;
  width: 50px;
}

.logo-footer {
  margin-right: 15px;
}

.footer-info-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
  padding: 30px 0;
}

.footer-info {
  display: flex;
  align-items: center;
}

.footer-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-info ul a {
  color: #262D33;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.footer-text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-text-wrapper p {
  margin-top: 0;
  margin-bottom: 25px;
}

.footer-text {
  width: 750px;
}

.avatar-sm {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

.avatar-md {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.photo-reports .avatar-md {
  z-index: 2;
}

.avatar-lr {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.white-icon {
  fill: #fff;
}

.pagination-icon {
  fill: #BCBFC2;
}

.white-icon-2 {
  fill: #fff;
  margin-left: 15px;
}

.photo-report-icon {
  fill: #fff;
  margin-right: 8px;
}

.arrow-icon {
  fill: #fff;
  margin-left: 8px;
}

.loading-icon {
  fill: #BCBFC2;
  margin-right: 8px;
}

.comment-silver-icon {
  fill: #BCBFC2;
}

.comment-white-icon {
  fill: #fff;
  opacity: 0.4;
}

.icon-bookmark {
  fill: #787B7E;
}

.home {
  background-color: #e5e5e5;
}

.hero {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.front-page-header {
  background-color: #262D33;
  position: relative;
  padding-top: 30px;
  height: 475px;
}

.hero .left {
  flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .left::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 48, 61, 0.35);
  position: absolute;
  z-index: 1;
}

.hero .left .post-thumb {
  position: absolute;
  min-height: 570px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  object-fit: cover;
}

.hero .left .author {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 2;
  margin-bottom: 155px;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-bio .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-bio .author-rank {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.post-text {
  position: relative;
  z-index: 2;
}

.post-text a {
  padding-right: 20px !important;
}

.post-text .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-text .post-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  max-width: 600px;
  margin: 20px 0 50px 0;
}

.hero .right {
  flex-basis: 25%;
}

.right .recommend {
  margin: 20px 0 20px 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.right .post {
  padding: 17px 25px 19px 25px;
  border-top: 1px solid #D9DADB;
  margin: 0;
  min-height: 100px;
}

.right .post:hover {
  background-color: #f5f5f5;
}

.post .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.post .post-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0 0;
  min-height: 40px;
}

.posts-list .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.posts-list .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3BBDC4;
}

.posts-list .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.category-color {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
}

.category-color-photoreport {
  font-size: 12px;
  letter-spacing: 0.7px;
}

.category-box {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  font-size: 12px;
}

.category-link {
  color: #00b9eb;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}
.category-link:visited {
  color: #00b9eb;
}
.category-link.javascript {
  color: #FF1493;
}
.category-link.css {
  color: #3bc48d;
}
.category-link.html {
  color: #e074d5;
}
.category-link.web-design {
  color: #ffa34d;
}
.category-link.articles {
  color: #A0522D;
}
.category-link.investigation {
  color: #FF4F52;
}
.category-link.photo-reports {
  color: #ffa34d;
}
.category-link.career {
  color: #6E99AE;
}

.article-list {
  margin: 0;
  padding: 0;
  margin-top: 180px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px 35px;
  position: relative;
}
.article-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 85px;
  width: 1px;
  display: block;
  background-color: #4B5157;
}

.article-item a {
  color: #fff;
  text-decoration: none;
  width: 155px;
}

.article-title {
  margin: 0;
  font-weight: 400;
}

.article-grid {
  width: 75%;
  display: grid;
  grid-gap: 30px;
  padding: 0;
  margin: 30px 0;
  color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-template-rows: repeat(3, minmax(170px, max-content));
  grid-auto-rows: minmax(170px, max-content);
}

.article-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.article-gri-01 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}

.article-gri-02 {
  grid-column: 3/3;
  grid-row: 1/span 2;
  position: relative;
}

.article-gri-02::before {
  content: "";
  position: absolute;
  background-color: rgba(64, 48, 61, 0.35);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.article-gri-04 {
  grid-column: 1/1;
  grid-row: 3/span 2;
}

.article-grid-item a {
  text-decoration: none;
}

.main-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.csm {
  margin: 0;
  padding: 0;
}

.author2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-blc-01 {
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: -10px;
  margin-right: -25px;
}

.left-blc {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}

.img-blc {
  width: 40%;
}

.img2 {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.category-info2 {
  font-size: 12px;
  color: #6E99AE;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.article-title-3 {
  color: #000;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  letter-spacing: 0.7px;
  font-weight: 700;
  line-height: 30px;
}

.exp-txt2 {
  font-size: 14px;
  font-weight: 400;
  color: #4B5157;
  margin-top: 5px;
  width: 270px;
}

.bottom-blc {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -18px;
}

.bottom-blc-top-line {
  height: 1px;
  width: 600px;
  margin-left: -25px;
  background-color: #D9DADB;
}

.author-blc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-name3 {
  font-size: 14px;
  color: #262D33;
  font-weight: 900;
}

.author-name3:after {
  content: ":";
  margin-right: 10px;
}

.author-desc {
  font-size: 14px;
  color: #4B5157;
  font-weight: 400;
  margin-right: 15px;
}

.icon-comment {
  margin-right: 5px;
}

.comments-counter {
  font-size: 12px;
  color: #939699;
  font-weight: 400;
  margin-left: 6px;
}

.img-cs2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.img-cs3 {
  height: 275px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.article-title-2 {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
}

.article-title-2 p {
  width: 200px;
  height: 75px;
}

.cs3 p {
  width: 215px;
  height: 50px;
  margin: 10px 25px 30px 25px;
}

.tag-info {
  border-radius: 3px;
  background-color: #3DC47E;
  padding: 7px 12px;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.category-info {
  font-size: 12px;
  color: #E7D9FF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.sss {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.author-bio2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}
.author-bio2 .author-name2 {
  font-size: 14px;
  color: #fff;
}

.article-grid-item .top-blc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 130px;
  z-index: 2;
}

.bottom-blc2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 190px;
  z-index: 2;
}

.date-comm-like {
  display: flex;
  width: 120px;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.6);
}

.date-post2, .comments-counter2 {
  font-size: 12px;
  font-weight: 400;
}

.comment, .like {
  opacity: 0.6;
}

.cs3 {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #000;
}

.exp-txt {
  font-size: 14px;
  font-weight: 400;
  color: #4B5157;
  margin-top: 5px;
}

.date-post {
  font-size: 12px;
  font-weight: 400;
  color: #939699;
}

.sidebar-front-page {
  margin: 30px 0 0 30px;
  width: 23%;
}

.widget {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.widget_tag_cloud {
  padding-bottom: 12px;
}

.widget_tag_cloud .widget-title {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  color: #262D33;
  text-transform: uppercase;
  line-height: 20px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #D9DADB;
  padding: 20px 25px;
}

.widget_tag_cloud ul li {
  display: inline-block;
  background: #fff;
}

.tagcloud {
  margin: 25px 5px 20px 25px;
}

.widget_tag_cloud a {
  display: inline-block;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 17px;
  margin-right: 7px;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  color: #262D33;
  text-decoration: none;
  text-transform: capitalize;
}

.widget_tag_cloud a:hover {
  background: #D9DADB;
  transition: 0.5s;
}

.widget-downloader {
  top: 0;
  left: 0;
  padding: 10px 25px 65px 25px;
  background: #3BBDC4 url("../images/file.svg") no-repeat top 22px right 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
  position: relative;
}

.widget-downloader .widget-title {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #fff;
  line-height: 25px;
}

.widget-downloader .description {
  color: #C1F4F5;
  margin: 0;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 12px 0 13px 0;
  text-decoration: none;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  display: flex;
  justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
}

.widget-socialnetwork {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.widget-socialnetwork .widget-title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #262D33;
  line-height: 25px;
  text-align: center;
  padding: 10px 25px 8px 25px;
}

.social-blc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon-social {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 12px 10px;
}

.set-social-icons {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.sidebar-front-page .set-social-icons {
  padding-bottom: 40px;
}

.facebook {
  background: #4267B2;
  fill: #fff;
}

.twitter {
  background: #1DA1F2;
  fill: #fff;
}

.instagram {
  background: #DC3071;
  fill: #fff;
}

.youtube {
  background: #FF0000;
  fill: #fff;
}

.articles-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.widget-recent-posts .widget-title {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  color: #262D33;
  text-transform: uppercase;
  line-height: 20px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #D9DADB;
  padding: 20px 25px;
}

.widget-recent-posts-wrapper {
  padding: 0 25px;
}

.widget-recent-posts a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4B5157;
  padding-bottom: 17px;
  position: relative;
}

.widget-recent-posts a::before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  right: 7px;
  color: #262D33;
  opacity: 0.08;
  font-family: "Lato Black", sans-serif;
  font-size: 70px;
  font-style: italic;
  line-height: 50px;
}

.widget-recent-posts a:not(:first-child) {
  padding-top: 17px;
}

.widget-recent-posts a:first-child {
  padding-top: 7px;
}

.widget-recent-posts a:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-posts a:hover,
.widget-recent-posts a:focus,
.widget-recent-posts a:active {
  color: #4B5157;
}

.recent-post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.widget-recent-posts img {
  width: 60px;
  height: 60px;
}

.recent-post-title {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.recent-post-time {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #939699;
}

.read-more {
  padding-top: 11px;
  padding-bottom: 14px;
  text-align: center;
  border-top: 1px solid #D9DADB;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
}

.investigation-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  max-width: 946px;
  margin: 0 auto 25px;
}

.invest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invest a {
  padding-right: 20px !important;
  max-width: 161px;
}

.article-list-2 {
  margin: 40px 0 40px 0;
  padding: 0 25px;
  list-style: none;
  width: 74%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
}

.article-item-area {
  padding: 25px 0;
  display: flex;
  justify-content: flex-start;
}

.box:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.aricle-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.img-33 {
  min-width: 335px;
  height: 195px;
  object-fit: cover;
}

.aricle-item-info a {
  text-decoration: none;
}

.title-article {
  margin: 0;
  color: #262D33;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-transform: none;
  line-height: 25px;
  font-weight: 700;
  margin-top: 10px;
}

.exp-txt3 {
  font-size: 14px;
  font-weight: 400;
  color: #4B5157;
}

.post-text-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px;
}

.post-total-info {
  color: #BCBFC2;
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
}

.special {
  background-color: #262D33;
  color: #fff;
  padding: 60px 0;
}

.special-grid {
  display: flex;
  justify-content: space-between;
  height: 570px;
}

.photo-reports {
  min-height: 570px;
  width: 49%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 53px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.photo-reports a {
  color: #fff;
  text-decoration: none;
}

.photo-reports:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.4), rgba(64, 48, 61, 0.4));
  z-index: 1;
}

.photo-report-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide {
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-report-content {
  z-index: 2;
}

.category-box {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 19px;
  margin-top: 18px;
  margin-bottom: 7px;
  z-index: 2;
}

.photo-report-button {
  padding: 10px 20px 10px 20px;
  background-color: #4592FF;
  border-radius: 50px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.button-photo-counter {
  margin-left: 8px;
  color: #C5E4FC;
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.author-photo-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.author-name-photo-report {
  line-height: 20px;
}

.author-rank-photo-report {
  font-size: 12px;
  line-height: 15px;
  margin-top: 2px;
  opacity: 0.6;
}

.photo-report-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  z-index: 2;
}

.other {
  width: 49%;
  border-radius: 10px;
  min-height: 570px;
  position: relative;
}

.other-grid {
  display: grid;
  grid-gap: 30px;
  padding: 0;
  color: #fff;
  grid-template-columns: repeat(2, minmax(263px, 1fr));
  grid-template-rows: repeat(3, 170px);
}

.other-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px;
}

.other-grid-item a {
  text-decoration: none;
}

.other-gri-01 {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  position: relative;
  background-color: #B4D1E0;
}

.image-career {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.oval {
  width: 260px;
  height: 260px;
  border-radius: 100%;
  background-color: #D1E2EB;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 65px;
  margin-right: 30px;
  z-index: 0;
}

.career-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90%;
  margin-left: 10px;
  margin-top: 10px;
}

.career-info p {
  width: 213px;
  color: #4B5157;
}

.career-info a {
  padding-right: 20px !important;
}

.title-p {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 30px;
  width: 243px;
  color: #262D33;
}

.special {
  background-color: #262D33;
  color: #fff;
  padding: 60px 0;
}

.special-grid {
  display: flex;
  justify-content: space-between;
  height: 570px;
}

.photo-reports {
  min-height: 570px;
  width: 49%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 53px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.photo-reports a {
  color: #fff;
  text-decoration: none;
}

.photo-reports:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.4), rgba(64, 48, 61, 0.4));
  z-index: 1;
}

.photo-report-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide {
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-report-content {
  z-index: 2;
}

.category-box {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 19px;
  margin-top: 18px;
  margin-bottom: 7px;
  z-index: 2;
}

.photo-report-button {
  padding: 10px 20px 10px 20px;
  background-color: #4592FF;
  border-radius: 50px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.button-photo-counter {
  margin-left: 8px;
  color: #C5E4FC;
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.author-photo-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.author-name-photo-report {
  line-height: 20px;
}

.author-rank-photo-report {
  font-size: 12px;
  line-height: 15px;
  margin-top: 2px;
  opacity: 0.6;
}

.photo-report-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  z-index: 2;
}

.other {
  width: 49%;
  border-radius: 10px;
  min-height: 570px;
  position: relative;
}

.other-grid {
  display: grid;
  grid-gap: 30px;
  padding: 0;
  color: #fff;
  grid-template-columns: repeat(2, minmax(263px, 1fr));
  grid-template-rows: repeat(3, 170px);
}

.other-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px;
}

.other-grid-item a {
  text-decoration: none;
}

.other-gri-01 {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  position: relative;
  background-color: #B4D1E0;
}

.image-career {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.oval {
  width: 260px;
  height: 260px;
  border-radius: 100%;
  background-color: #D1E2EB;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 65px;
  margin-right: 30px;
  z-index: 0;
}

.career-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90%;
  margin-left: 10px;
  margin-top: 10px;
}

.career-info p {
  width: 213px;
  color: #4B5157;
}

.career-info a {
  padding-right: 20px !important;
}

.title-p {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 30px;
  width: 243px;
  color: #262D33;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .article-list {
    margin-top: 220px;
  }

  .main-grid {
    flex-direction: column;
  }

  .articles-grid {
    flex-direction: column;
  }

  .sidebar-front-page {
    width: 100%;
    margin-left: 0;
  }

  .article-item-area {
    flex-direction: column;
  }

  .article-list-2 {
    width: 100%;
  }

  .special-grid {
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;
  }

  .photo-reports {
    width: 100%;
    margin-bottom: 20px;
  }

  .other {
    width: 100%;
    height: 650px;
  }

  .image-career {
    object-fit: contain;
    object-position: right bottom;
  }

  .other-grid {
    grid-row-gap: 10px;
    grid-template-columns: repeat(1, minmax(263px, 1fr));
  }

  .other-grid-item {
    margin-right: -27px;
  }

  .main-grid {
    flex-wrap: wrap;
  }

  .article-grid {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(170px, max-content));
  }

  .article-grid-item {
    grid-area: auto;
  }

  .footer-menu-bar {
    flex-wrap: wrap;
  }

  .footer-menu {
    flex-basis: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .article-list {
    flex-wrap: wrap;
  }

  .article-item {
    width: 50%;
    padding: 20px;
  }

  .article-item a {
    width: 80%;
  }

  .header-wrapper {
    flex-direction: column;
    height: 150px;
  }

  .search-form {
    width: 50%;
  }
}
@media screen and (max-width: 960px) {
  .header-wrapper {
    position: relative;
  }

  .header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 128px;
    margin-right: calc(30% - 45px);
    background-color: #fff;
    padding: 20px;
    z-index: 99;
    border-radius: 10px;
    width: 200px;
    box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.2);
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-menu .menu-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .header-menu a {
    color: #000;
  }

  .header-menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 40px;
    margin-left: 10px;
    padding-top: 15px;
  }

  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }

  .search-form {
    width: 50%;
  }

  .hero {
    flex-direction: column;
  }

  .right .post {
    padding: 5px 25px 5px 25px;
    min-height: 50px;
  }

  .front-page-header {
    height: auto;
    padding-bottom: 40px;
  }

  .article-list {
    margin-top: 30px;
  }

  .article-item a {
    width: 65%;
  }

  .investigation-title {
    font-size: 32px;
  }

  .footer-menu {
    flex-basis: 50%;
  }

  .article-grid {
    grid-template-columns: repeat(1, minmax(263px, 1fr));
    grid-template-rows: repeat(3, 2fr);
  }

  .header-wrapper {
    height: 120px;
  }

  .search-form .search-input {
    height: 40px;
  }
}
@media screen and (max-width: 760px) {
  .article-item {
    width: 100%;
  }

  .article-item a {
    width: 80%;
  }

  .post-text .post-title {
    font-size: 32px;
  }

  .img-33 {
    display: none;
  }

  .footer-info {
    flex-direction: column;
  }

  .footer-info ul {
    margin-bottom: 20px;
  }

  .footer-info li {
    margin-bottom: 10px;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-text-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-text {
    width: 60%;
  }
}
@media screen and (max-width: 580px) {
  .footer-menu {
    flex-basis: 100%;
  }

  .image-career {
    display: none;
  }

  .oval {
    display: none;
  }

  .search-form {
    width: 80%;
  }
}
.post-header {
  padding: 60px 0 72px;
  color: #fff;
}

.post-header-wrapper {
  position: relative;
}

.post-author {
  position: absolute;
  min-width: 263px;
  border: 1px solid #D9DADB;
  border-radius: 10px;
  right: 0;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-right: 135px;
}

.post-author .author {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #D9DADB;
}

.post-author .author-post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 25px 20px;
}

.author-post-info .author-name {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
  margin-top: 15px;
}

.author-post-info .author-rank {
  color: #4B5157;
  margin-top: 5px;
}

.author-post-info .author-posts {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  margin-top: 15px;
}

.entry-title {
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  line-height: 70px;
  width: 750px;
  height: 210px;
}

.entry-excerpt {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.85;
  width: 640px;
}

.nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 20px;
}

.navs-pred {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navs-next {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navs {
  display: flex;
  margin-right: 130px;
}

.navs a {
  color: #fff;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.single-info {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  color: #BCBFC2;
}

.single-info span {
  display: flex;
  align-items: center;
}

.cons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entry-content {
  padding-top: 60px;
}

.entry-content p:first-child {
  max-width: 55%;
}

.entry-content p {
  color: #4B5157;
  font-size: 18px;
  line-height: 30px;
  margin: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.entry-content blockquote p {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  margin-left: -20px;
  margin-top: 80px;
  position: relative;
}

.entry-content blockquote p::before {
  content: "";
  position: absolute;
  background-image: url("../images/quote.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 70px;
  height: 70px;
  top: -20px;
  left: -20px;
  z-index: -1;
}

.has-drop-cap:not(:focus):first-letter {
  font-family: "Lato Black", sans-serif;
  font-size: 100px;
  line-height: 75px;
  text-align: center;
  color: #4592FF;
}

figure figcaption {
  color: #4B5157;
  margin: 25px 0 25px 35px;
}

figure img {
  border-radius: 10px;
}

figure table {
  border: 2px solid #000;
  border-collapse: collapse;
}

figure table td:first-child {
  width: 70%;
}

figure table tr:first-child {
  height: 50px;
  background-color: #65e5b2;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-bottom: 2px solid #000;
}

figure table tr:not(:first-child) {
  height: 35px;
  color: #4B5157;
  font-size: 18px;
  line-height: 30px;
}

figure table td:first-child {
  padding-left: 20px;
}

figure table td {
  border: 1px solid #000;
}

figure figcaption {
  color: #4B5157;
  margin: 20px 0 20px 35px;
}

.tags-links a {
  color: #262D33;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 40px 10px 40px 0;
}

.tags-links {
  padding-bottom: 60px;
  border-bottom: 1px solid #BCBFC2;
  max-width: 55%;
}

.title-bookmark {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.bookmark {
  margin-top: 60px;
  margin-right: 135px;
}

.meks_ess {
  max-width: 55%;
  margin-top: 0;
}

.meks_ess_share_label {
  margin: -18px 0 -20px 0;
}

.meks_ess_share_label h5 {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}

.img-post-in-cat {
  width: 263px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.post_in_current_category-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  padding: 60px 30px 90px 0;
}

.post_in_current_category-title {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
  margin: 15px 0;
  width: 263px;
}

.widget-posts-in-current-category {
  width: 1920px;
  background-color: #F5F5F5;
  margin: auto;
}

.widget-posts-in-current-category-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin: 90px auto;
}

.status-icon-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 70px;
}

.status-icon-panel span {
  display: flex;
  align-items: center;
}

.comments-area {
  max-width: 750px;
}

.commments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#comments .comments-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
}

#comments .comment-count {
  font-family: "Lato Regular", sans-serif;
  font-size: 40px;
  line-height: 50px;
  color: #939699;
}

#comments .comments-add-button {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #262D33;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #D9DADB;
  border-radius: 20px;
}

.loading-more {
  width: 100%;
  padding: 15px 0;
  text-transform: lowercase;
  border: 1px solid #D9DADB;
  border-radius: 50px;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 67px;
  margin-top: -20px;
}

#comments a {
  text-decoration: none;
  color: #262D33;
}
#comments a:hover, #comments a:focus, #comments a:active {
  color: #262D33;
}

.comment-form {
  background-color: #F5F5F5;
  padding: 30px 40px 20px 30px;
  margin-top: 30px;
  border-radius: 10px;
}

.comment-label {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
  display: block;
  margin-left: 95px;
}

.comment-textarea {
  min-height: 130px;
  width: 585px;
  resize: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.comment-textarea-wrapper {
  display: inline-block;
  position: relative;
}
.comment-textarea-wrapper::before {
  content: "";
  background-image: url("../images/vector.svg");
  background-position: center center;
  background-size: 100%;
  width: 12px;
  height: 20px;
  position: absolute;
  top: 35px;
  left: -10px;
}

.comment-form .avatar {
  border-radius: 50%;
  margin-bottom: 50px;
  margin-right: 15px;
}

.form-wrapper {
  display: flex;
  align-items: flex-start;
}

.comment-submit {
  margin-left: 95px;
}

.comments-list {
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.comment-author-avatar {
  margin-right: 15px;
}

.comment-author-avatar img {
  border-radius: 50%;
  height: 75px;
  max-width: 75px;
}

.comment {
  opacity: 1;
}

.comment a {
  text-decoration: none;
  color: #262D33;
}
.comment a:hover, .comment a:focus, .comment a:active {
  color: #262D33;
}

.comment-author-name {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
  font-style: normal;
  margin-right: 10px;
}

.comment-body {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #D9DADB;
  padding-top: 20px;
  padding-bottom: 29px;
}

.comment-body p {
  font-size: 18px;
  line-height: 30px;
  color: #4B5157;
  margin-top: 10px;
  margin-bottom: 15px;
}

.commentmetadata a {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.reply {
  display: flex;
  align-items: center;
}

.reply a {
  font-size: 12px;
  line-height: 15px;
  color: #262D33;
}

.footer {
  padding-top: 20px;
}

.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-form {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.footer-form-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
  margin-bottom: 25px;
}

.footer-form .input {
  margin-right: 10px;
  padding: 10px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  min-width: 313px;
}

.search-wrapper {
  background-color: #E5E5E5;
  padding-top: 40px;
  padding-bottom: 115px;
}

.search-list-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
}

.pagination .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  width: 74%;
}

.pagination .nav-links a {
  padding: 17px;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  text-align: center;
}
.pagination .nav-links a:not(:last-child) {
  border-right: 1px solid #D9DADB;
}

.pagination .nav-links .next a {
  padding: 17px 70px;
  display: flex;
  align-items: center;
  outline: none;
  margin-left: auto;
  margin-right: 100px;
  flex-grow: 1;
  text-align: center;
}

.pagination .nav-links .page-numbers {
  padding: 17px 30px;
}

.pagination .nav-links .page-numbers:first-child {
  padding: 17px 120px 17px 0px;
}

.pagination .nav-links .page-numbers:last-child {
  padding: 17px 0px 17px 120px;
}

.pagination .nav-links .prev a {
  padding: 17px 70px;
  display: flex;
  align-items: center;
  outline: none;
  margin-right: auto;
  flex-grow: 1;
  text-align: center;
}

.current {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4592FF;
  border-right: 1px solid #D9DADB;
  padding: 17px;
}

.dots {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  border-right: 1px solid #D9DADB;
  padding: 17px;
}

.category-wrapper {
  background-color: #E5E5E5;
  margin-top: -20px;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
}

.post-card {
  width: 263px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 28px;
}

.post-card .card-thumb {
  height: 180px;
}

.post-card:not(:nth-child(4n+4)) {
  margin-right: 28px;
}

.title-pst {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
  margin: 0;
  padding: 0px 25px;
  margin-top: 15px;
}

.post-card p {
  line-height: 20px;
  color: #4B5157;
  margin: 0;
  padding: 5px 25px 15px 25px;
}

.cat-author-name {
  line-height: 20px;
  color: #4B5157;
}

.author-bio3 a {
  text-decoration: none;
}
